<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--TÍTULO-->
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--AlertifyJS CSS-->
    <link href="~/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @*<link href="~/css/Sidebar.css" rel="stylesheet" />*@
    <!--Principal css-->
    <link rel="stylesheet" type="text/css" href="~/Content/styles/Principal.css" />
    <!--Transparency Menu-->
    <link href="~/Content/styles/TransparencyMenu.css" rel="stylesheet" />
</head>
<body id="bodydLoad">

    <div id="idLoading"></div>

    <header id="hdInicioLoad">

        <input id="hamburger" class="hamburger" type="checkbox" />


        <label for="hamburger" class="hamburger">
            <i></i>

        </label>



        <nav id="idnavmenu" class="primnav">

            <ul>

                <li>
                </li>
                <li>
                    <a class="secnav" href="https://localhost:44356/Maestros/Inicio">
                        <label id="lblLogoAsisste">Asisste</label>
                        <img style="width: 42px;" src="~/Content/images/svg/Logo.svg" />
                    </a>
                    <br />
                    <br />
                </li>
                <li id="idMenuAdministracion">
                    <a href="#">
                        <svg class="icon"><use xlink:href="#icon-equalizer"></use></svg> Administración
                    </a>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/Perfil">Perfiles</a>
                        </li>

                    </ul>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/Empleados">Usuarios registrados</a>
                        </li>
                    </ul>
                    @*  <ul class="secnav">
                            <li>
                                <a href="https://localhost:44356/Maestros/TipoDocumento">Tipos de documento</a>
                            </li>
                        </ul>
                        </ul>
                        <ul class="secnav">
                            <li>
                                <a href="https://localhost:44356/Maestros/AreaTrabajo">Áreas de trabajo</a>
                            </li>
                        </ul>
                        <ul class="secnav">
                            <li>
                                <a href="https://localhost:44356/Maestros/LugarTrabajo">Lugar de trabajo</a>
                            </li>

                                    <ul class="secnav">
                                        <li>
                                            <a href="https://localhost:44356/Maestros/Cargo">Cargos</a>
                                        </li>
                                    </ul>
                                         </ul>*@
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/Horarios">Horarios</a>
                        </li>
                    </ul>

                </li>
                <li id="idMenuJornadas">
                    <a href="#">
                        <svg class="icon"><use xlink:href="#icon-equalizer"></use></svg> Jornadas
                    </a>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/JornadasAsignadas">Jornadas asignadas</a>
                        </li>
                        <li>
                            <a href="https://localhost:44356/Maestros/TipoJornada">Tipos de jornada</a>
                        </li>
                    </ul>
                </li>
                <li id="idAsistencias">
                    <a href="#">
                        <svg class="icon"><use xlink:href="#icon-equalizer"></use></svg> Control
                    </a>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/Asistencia">Crear reporte</a>
                        </li>
                    </ul>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/ControlAsistencia">Asistencias</a>
                        </li>
                    </ul>
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/Falta">Faltas</a>
                        </li>
                    </ul>
                </li>
                <li id="idUbicaciones">
                    <a href="#">
                        <svg class="icon"><use xlink:href="#icon-equalizer"></use></svg> Ubicaciones
                    </a>
                    @*  <ul class="secnav" id="idUbicacionesPredeterminadas">
                            <li>
                                <a href="https://localhost:44356/Maestros/Asistencia">Predeterminadas</a>
                            </li>
                        </ul>*@
                    <ul class="secnav">
                        <li>
                            <a href="https://localhost:44356/Maestros/UbicacionesPorUsuario">Registrados</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </nav>


    </header>
    <user id="user">

    </user>
    <main id="mainLoad">
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>

</body>
</html>
<script>


</script>


<!--Inicio JS-->
<script src="~/Scripts/Start/Start.js"></script>

<!--AlertifyJS JS-->
<script src="~/alertifyjs/alertify.min.js"></script>
